%a{:href => "/presentations/#{@presentation.id}"} Back to Presentation
%h1 #{@slide.title}
%h2 #{@slide.subtitle}

#parts
	- @slide.slide_parts.each do |p|
		.part
			.contents
				- if p.slide_type == :image
					%img{:src => "#{p.image.url}"}
				-else
					#{p.content_html}
			.controls
				%a{:href => "/presentations/#{@presentation.id}/slides/#{@slide.position}/parts/#{p.position}/_edit", :class => "edit_image"} Edit
				%a{:href => "#", :onclick => "javascript:delete_slide_part('#{p.position}');", :class => "del_image"} Del
			%form{:id=>"delete_slide_part_#{p.position}", :method => "POST", :action => "/presentations/#{@presentation.id}/slides/#{@slide.position}/parts/#{p.position}"}
				%input{:type=>"hidden", :name=>"_method", :value=>"DELETE"}			

- if @slide.slide_parts.length == 0
	%span This slide is empty.
.clear
#buttons
	%button{:onclick => "window.location = '/presentations/#{@presentation.id}/slides/#{@slide.position}/parts/_new';"} New Slide Part
%script{:type => "text/javascript", :src => "/js/jquery-1.6.2.min.js"}
%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"}
:javascript
	$(function() {
		$("ul#parts").sortable({
			stop: handleSort
		});

		function handleSort(event, ui) {
			//$.put('/presentations/#{@presentation.id}/slides/#{@slide.position}/'+)
		}
	});
:javascript
	function delete_slide_part(slide_part_id) {
		var deleted = confirm('Are you sure?');
		if (deleted)
			$("#delete_slide_part_"+slide_part_id).submit();
		
		return true;
	}
:css
	#parts {
		padding: 5px;
	}

	.part {
		border: 2px #eee solid;
		width: 600px;
		padding: 2px;
		margin-bottom: 5px;
		padding-top: 5px;
		overflow: auto;
	}

	.contents {
		float: left;
		width: 80%;
	}

	.controls {
		width:20%;
		float: left;
	}

	.clear {
		clear: both;
	}